.App {
  background: #f0f0fa;
}

body>#root>div {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  margin-left: 50px;
  max-width: 90% !important;
  display: flex;
  flex-wrap: wrap
}

.stars-grid {
  list-style-type: none;
  font-size: 0;
  max-width: 22%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin-left: 5% !important;
}

.numbers-grid {
  list-style-type: none;
  font-size: 0;
  max-width: 72%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.number-container {
  justify-content: center;
  width: 41px;
  height: 41px;
  padding: 0;
}

.label-round {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
}

.label-star {
  overflow: visible;
  position: relative;
  display: block;
}

.label-round.label-primary {
  color: #243f85;
}

.label-star.label-secondary {
  color: #fcb749;
}

.label-star svg {
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.label-star.label-secondary .star-body {
  fill: #ffffff;
}

.label-star.label-secondary.checked-star .star-body {
  fill: #fcb749;
}

.label-star .star-body {
  background-color: #ffffff;
  fill: transparent;
  position: absolute;
  box-sizing: inherit;
  z-index: 0;
  stroke-width: 35px;
  stroke-linecap: round;
}

.label-round.checkable,
.label-star.checkable {
  cursor: pointer;
}

.label-star.disabled,
.label-round.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.label-star .number {
  z-index: 1;
  position: relative;
}

.checked-star {
  color: #ffffff !important;
}

.checked-number {
  color: #ffffff !important;
  background-color: #243f85;
}

.number {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 0;
  padding-top: 1px;
}

.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

.bet-content {
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 10px 20px;
  width: 200px;
  border: 2px solid #000000
}